# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Env files
*.env

# Build folders
gamersclub-frontend/dist/
gamersclub-backend/dist/
gamersclub-frontend/build/
gamersclub-backend/build/

# VSCode
.vscode/
